@charset "UTF-8";

* {
    
    color: #EFEFF1;
    margin: 0px;
    padding: 0px;
}

body {
    background: #18181B;
}

header {
    font: normal 9pt Arial;
    padding: 7px 7px 7px 12px;
    box-shadow: 0px 1px 2px black;
}

main {
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

section#espectadores {
    font: normal 12pt Arial;
    margin-top: 15px;
    margin-left: 5px;
    display: flex;

}

div#especs {
    display: flex;
}

path {
    fill: #EFEFF1;
}

svg {
    border-radius: 30%;
}

p#especs {
    color: rgb(170, 62, 62);
    padding-left: 10px;
    margin-top: 2px;
}

details > summary {
    list-style: none;
}

details > summary::-webkit-details-marker {
    display: none;
}

div#modsTitle, div#viewersTitle {
    background: #1F1F23;
    font: normal 12pt Arial;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 5px;
    margin-top: 20px;
    margin-bottom: 5px;
    display: flex;
    height: 20px;
}

path#mod_path {
    fill: green;
}

svg {
    border-radius: 25%;
}

div#mod_logo{
    height: 20px;
    width: 20px;
    border-radius: 25%;
    background: #EFEFF1;
}

p#userMods, p#userViews {
    padding-left: 10px;
    margin-top: 2px;
}

path#especs_logo {
    fill: rgb(170, 62, 62);
}

div.user1 {
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    font: normal 12pt Arial;
    display: flex;
    margin-left: 10px;
}

div.user {
    border-top: 1px solid #35353B;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    font: normal 12pt Arial;
    display: flex;
    margin-left: 10px;
}

img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
}

span {
    padding-left: 5px;
    padding-right: 5px;
}

a {
    text-decoration: none;
    font: normal 11pt Arial;
}

strong.user {
    color: #BE93FE;
}
