@import "tailwindcss";

@layer base{
	* {
		
		color: #EFEFF1;
		margin: 0px;
		padding: 0px;
	}
  
  body {
    background: #18181B;
  }

  header {
    font: normal 9pt Arial;
    padding: 7px 7px 7px 12px;
    box-shadow: 0px 1px 2px black;
  }
}